@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

a.nav-link {
    font-size: 22px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 77px;
}

.hero-text {
    text-shadow: rgba(0, 0, 0, 0.25) 5px 5px 5px;
}

.hero.container-fluid {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 164px;
    padding-bottom: 308px;
    background-color: rgb(20, 22, 46);
    background-image: url("../images/Picture.png");
    background-repeat: no-repeat;
    background-size: 550px 460px;
    background-position: 580px 220px;
}

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: rgb(20, 22, 46);
}
span.register {
    color: rgba(68, 97, 242, 1);
}
input::placeholder {
    color: #999; 
    font-size: 14px; 
  }